/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body{
	font-family: 'Roboto', sans-serif;
}
h1{
   font-family: 'Roboto', sans-serif;
}

.music-page {
  font-family: Helvetica, Arial, sans-serif
}


/*MY CODE*/

/* NAVIGATION */

* {
  text-decoration: none;
}

main {
  padding-top: 0px;
}

header {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  
}

header .navbar {
  margin: 0px 102px;
  position: static;
}

header .navbar ul{
  display: block;
  width: fit-content;
  position: relative;
  z-index: 2;
}

header .navbar ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 20px;
}

header .navbar ul li a {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}


@media only screen and (min-width:1000px) {

}


/* INDEX */


.vertical-center {
  display: table-cell;
  vertical-align: middle;
}


.index-first-text {
  padding-top: 20px;
}

.index-first-text h1 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: #111;
  text-align: center;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 300px;
  background-color: #e3e3e3;
}

.index-links div:first-of-type {
  background-image: url(https://cdn.glitch.com/b605d689-d5fa-4070-b2f8-e6f277d6eeb5%2Fcamera-1239384_1920.jpg?v=1582751095384);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: 35px;
  font-weight: 600;
  line-height: 300px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (min-width:1000px) {
  .wrapper {
    position: relative;
    top: 100px;
    padding-bottom: 200px;
  }

  .wrapper-main {
    position: relative;
    top: 50vh;
    width: 1000px;
    margin: 0 auto;
  }

  .wrapper h1 {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 50px;
  }
  
  .index-banner {

    background-position: center bottom;
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 10px 5px 0;
    width: calc(100% - 32px);
    height: 240px;
    background-color: #e3e3e3;
    float: left;
  }

  .index-boxlink-square {
    width: calc(25% - 10px) !important;
  }

  .index-boxlink-rectangle {
    width: calc(50% - 10px) !important;
  }

  .index-links div h3 {
    line-height: 230px;
  }
}


/* FOOTER */

footer {
  width: 1000px;
  padding: 40px 40px;
  background-color: #000;
  overflow: hidden;
  bottom: 0px;
  position: relative;
} 

body {
  padding-bottom: 100px; 
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a{
  font-family: Catamaran;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}

.footer-links-cases {
  display: none;
}

.footer-sm {
  width: 50px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width:1000px) {
  .footer-links-cases {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p{
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
}

/* Make the image fully responsive */
.carousel {
  position: absolute;
  top: 0;
  z-index: -1;
}

.carousel-inner .first {
  object-position: 50% 30%;
}

.carousel-inner img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: 50% 50%;
}


.carousel-caption {
  top: 40%;
}


.carousel-caption h1 {
  text-transform: uppercase;
  position: relative;
  font-family: Open Sans;
  font-size: 60px;
  letter-spacing: 3.5px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 10px #000;
}


  



.carousel-caption p {
  position: relative;
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 100;
}

@media only screen and (min-width:1000px) {

  
  .carousel-inner img {
    height: 50vh;
  }
}


/************** CONTACT FORM **************/

input[type=text], select, textarea, input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 12px;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_container {
  position: relative;
  top: 10vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.column {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column2 {
  float: left;
  width: 73%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  border: 1px solid #eee;
}

form {
  padding: 40px;
}

.close {
  position: relative;
  top: -30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 240px 10px 240px 20px 156.66px 20px 166.66px 26.66px;
  grid-template-rows: 100px;
  grid-gap: auto;
  padding: 1px;
}

.grid-container:nth-last-of-type(odd) {
  background-color: #333;
}

.grid-container > div {
  padding: 10px 0;
  font-size: 17px;
}

.grid-container div {
  margin: auto 0;
}

.grid-container .item1 {
  float: left;
  padding-left: 20px;
}

.grid-container .item9 {
  text-align: center;
}


/*
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
*/

.grid-container .item1 button:focus { outline: none; }
.grid-container .item1 button {
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
}

.grid-container .item1 button img {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.audio-player-cont{
	width: 100%;
  height: 75px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.9;
  z-index: 5;
	color: #b3b3b3;
	font-family: verdana;
	font-size: 12px;
}


.grid-container-main {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px;
  grid-gap: 19.75px;
  padding: 1px;
}

.grid-container-main > div {
  padding: 10px 0;
  font-size: 14px;
}

.grid-container-main div {
  margin: auto 0;
}

.grid-container-main .album img {
  width: 150px;
  height: 150px;
}

.grid-container-main .album img:last-of-type {
  right: 0;
}

.register-button {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: auto;
  margin-left: 5px;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  transition: transform .15s;
  white-space: normal;
  border: none;
  font-size: 13px;
}


.register-button:focus { outline: none; }


.login-button:focus { outline: none; }

.add-button:focus { outline: none; }

.login-button {
  position: relative;
  left: auto;
  top: 6%;
  right: 2%;
  bottom: auto;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: #fff;
  transition: transform .15s;
  color: #000;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.login-button:hover, .register-button:hover, .add-button:hover, .dropbtn:hover {
  transform: scale(1.1);
}

.signup-error {
  color:red;
  position: relative;
  top: -10px;
  left: -10px;
}

.signup-success {
  color: white;
  width: 100%;
  position: relative;
  height: 25px;
  background-color: green;
  opacity: 0.8;
  padding: 2px;
  margin: 0 auto;
}

.signup-success p {
  text-align: center;
  opacity: 2;
  font-size: 20px;
  font-weight: 500;
}

input:required:focus {
  border: 1px solid black;
  outline: none;
}


.dropdown {
  display: inline-block;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: auto;
}

.dropbtn {
  position: relative;
  padding: 15px 40px;
  border-radius: 30px;
  background-color: #222;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 18px;
  white-space: normal;
  border: none;
  outline: none;
  font-size: 19px;
  font-family: Roboto;
  transition: transform .15s;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #333;
}

.dropdown-content {
  padding: 15px;
  margin-top: 10px;
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 100px;
  border-radius: 5px;
}

.dropdown-content form a button {
  border: none;
  background-color: #282828;
  position: relative;
  right: 45px;
  font-weight: 500;
  font-size: 17px;
  top: -40px;
  width: 70px;
}

hr {
  position: relative;
  width: 125%;
  left: -15px;
  height: 1px;
  outline: none;
  border: none;
  background-color: #666;
}

.dropbtn a:hover {background-color: #ddd;}

.show {display: block;}

.dropbtn:focus, .dropdown-content form a button:focus {
  outline: none;
}

.grid-container div h1 {
  font-size: 20px;
}


/**** ACCOUNT PAGE *****/

.account-wrapper {
  margin: 0 auto;
  width: 1000px;
  color: #111;
  position: relative;
  top: 200px;
  margin-bottom: 100px;
}

.grid-container-users {
  display: grid;
  grid-template-columns: 150px 250px 250px 150px 175px;
  grid-template-rows: 50px;
  grid-gap: auto;
  padding: 1px;
}

.grid-container-users > div {
  padding: 10px 0;
  font-size: 17px;
}


.grid-container-users .item1 {
  padding-left: 50px;
}

.grid-container-users .item5 .register-button {
  position: relative;
  top: -50px;
  left: -25px;
  padding: 12px 35px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  transition: transform .15s;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.grid-container-users .item4 .register-button {
  position: relative;
  top: -10px;
  margin-left: 40px;
  padding: 12px 35px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  transition: transform .15s;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.add-button {
  position: relative;
  top: -50px;
  left: 40px;
  padding: 12px 35px;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  transition: transform .15s;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.aside {
  position: fixed;
  left: 0;
  top: 300px;
  height: 300px;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  background-color: black;

}

.aside a {
  margin: 0 auto;
  color: white;
}

[data-theme=dark] .add-button, .grid-container-users .item4 .register-button, .grid-container-users .item5 .register-button  {
  color: #222;
  background-color: white;
}

[data-theme=dark] .grid-container-users {
  color: #fff;
}


[data-theme=light] .add-button  {
  color: white;
  background-color: #222;
}

[data-theme=light] .grid-container-users .item4 .register-button {
  color: white;
  background-color: #222;
}

[data-theme=light] .grid-container-users .item5 .register-button {
  color: white;
  background-color: #222;
}

#music-page {
  position: relative;
  border-collapse: collapse;
  width: 75vw;
  float: right;
  margin-right: 100px;
  margin-bottom: 300px;
}

#music-page td, #music-page th {
  vertical-align: middle;
  padding: 8px;
}


#music-page th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  font-weight: 500;
}

#music-page th:last-of-type {
 width: 110px;
}

[data-theme=light] #music-page th a {
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}

[data-theme=dark] #music-page th a {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

#music-page td {
  font-size: 14px;
}

#songID {
  width: 30px;
}

.total-duration {
  font-size: 16px; 
  float: right; 
  position: relative;
  margin-right: 50px;
}

.total-duration b {
  text-transform: uppercase;
}

#playerchange {
  border: none;
  background-color: transparent;
}

#playerchange:focus {
  outline: none;
}

[data-theme=dark] .total-duration {color:white;}

[data-theme=light] .total-duration {color:#111;}

[data-theme=dark] #music-page tr {background-color: #000}

[data-theme=dark] #music-page tr:nth-child(even){background-color: #050505;}

[data-theme=dark] #music-page tr:hover {background-color: #333;}

[data-theme=dark] #music-page th {background-color: #000;}

[data-theme=light] #music-page tr {background-color: #fff; color: #111;}

[data-theme=light] #music-page tr:nth-child(even){background-color: #eee; color: #111;}

[data-theme=light] #music-page tr:hover {background-color: #ddd; color: #111;}

[data-theme=light] #music-page th {background-color: #fff; color: #111;}

.header-music {
  padding-left: 16.5vw;
}

[data-theme=light] .header-music {color: black; }

[data-theme=light] .modal-title {color: black;}

[data-theme=dark] .modal-title {color: white;}

[data-theme=dark] .modal-footer .btn-link {color: white;}

[data-theme=light] .modal-footer .btn-link {color: black;}

footer p {
  color: white;
  float: right;
  margin: 0 auto;
}
