/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*FONT*/

@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regul.+ar-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}


/*MY CODE*/

/* NAVIGATION */

* {
  text-decoration: none;
}

main {
  padding-top: 0px;
}

header {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  
}

header .navbar {
  margin: 0px 102px;
  position: static;
}

header .navbar ul{
  display: block;
  width: fit-content;
  position: relative;
  z-index: 2;
}

header .navbar ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding: 20px;
}

header .navbar ul li a {
  font-family: Arial;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}


@media only screen and (min-width:1000px) {

}


/* INDEX */


.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2 {
  font-family: Catamaran;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 10px #000;
}

.index-banner h1 {
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}

.index-first-text {
  padding-top: 20px;
}

.index-first-text h1 {
  font-family: Catamaran;
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: #111;
  text-align: center;
}

.index-links div {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 300px;
  background-color: #e3e3e3;
}

.index-links div:first-of-type {
  background-image: url(https://cdn.glitch.com/b605d689-d5fa-4070-b2f8-e6f277d6eeb5%2Fcamera-1239384_1920.jpg?v=1582751095384);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.index-links div h3 {
  font-family: Catamaran;
  font-size: 35px;
  font-weight: 600;
  line-height: 300px;
  color: #fff;
  text-align: center;
  text-transform: ;
  text-shadow: 2px 2px 5px #000;
}

@media only screen and (min-width:1000px) {
  .wrapper {
    position: relative;
    top: 100px;
    width: 1000px;
    margin: 0 auto;
  }

  .wrapper-main {
    position: relative;
    top: 50vh;
    width: 1000px;
    margin: 0 auto;
  }

  .wrapper h1 {
    font-family: Roboto;
    font-weight: bolder;
    font-size: 50px;
  }
  
  .index-banner {

    background-position: center bottom;
  }

  .index-banner h1 {
    display: block;
    width: 560px;
    margin: 0 auto;
  }

  .index-links {
    overflow: hidden;
  }

  .index-links div {
    margin: 10px 5px 0;
    width: calc(100% - 32px);
    height: 240px;
    background-color: #e3e3e3;
    float: left;
  }

  .index-boxlink-square {
    width: calc(25% - 10px) !important;
  }

  .index-boxlink-rectangle {
    width: calc(50% - 10px) !important;
  }

  .index-links div h3 {
    line-height: 230px;
  }
}


/* FOOTER */

footer {
  width: 1000px;
  padding: 40px 40px;
  margin-top: 20px;
  position: relative;
  bottom: 0;
  background-color: #111;
  overflow: hidden;
}

footer ul {
  width: fit-content;
  float: left;
  padding-left: 20px;
}

footer ul li {
  display: block;
  list-style: none;
}

footer ul li a{
  font-family: Catamaran;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}

.footer-links-cases {
  display: none;
}

.footer-sm {
  width: 50px;
  float: right;
}

.footer-sm img {
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width:1000px) {
  .footer-links-cases {
    display: block;
  }

  footer ul {
    padding-right: 30px;
  }

  footer ul li p{
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
  }
}

/* Make the image fully responsive */
.carousel {
  position: absolute;
  top: 0;
  z-index: -1;
}

.carousel-inner .first {
  object-position: 50% 30%;
}

.carousel-inner img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  object-position: 50% 50%;
}

/*
.carousel-caption {
  top: 40%;
}


.carousel-caption h1 {
  text-transform: uppercase;
  position: relative;
  font-family: Open Sans;
  font-size: 60px;
  color: #fff;
  letter-spacing: 3.5px;
  text-align: center;
  text-shadow: 2px 2px 10px #444;
}

.carousel-caption p {
  position: relative;
  font-family: Cormorant Garamond;
  font-size: 28px;
  font-weight: 100;
  font-style: italic;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #000;
}
*/
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 100;
}

@media only screen and (min-width:1000px) {
  .carousel-caption h1 {
  }
  
  .carousel-inner img {
    height: 50vh;
  }
}


/************** CONTACT FORM **************/

input[type=text], select, textarea, input[type=password]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 0px 12px;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_container {
  position: relative;
  top: 10vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.column {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column2 {
  float: left;
  width: 73%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  border: 1px solid #eee;
}

form {
  padding: 40px;
}

.close {
  position: relative;
  top: -30px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 200px 200px 166.66px 166.66px 166.66px;
  grid-template-rows: 100px;
  grid-gap: auto;
  padding: 1px;
}

.grid-container > div {
  padding: 10px 0;
  font-size: 14px;
}

.grid-container div {
  margin: auto 0;
}

.item1 {
  float: left;
}
/*
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
*/

.item1 button:focus { outline: none; }
.item1 button {
  border: none;
  width: 40px;
  height: 40px;
  background-color: white;
}

.item1 button img {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.audio-player-cont{
	width: 100%;
  height: 150px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #282828;
  z-index: 5;
	color: #b3b3b3;
	font-family: verdana;
	font-size: 12px;
}

.logo{
	float:left;
}

.logo img {
    height: 120px;
}

.player{
  margin: auto;
  padding-top: 5px;
  width: 1000px;
  position: relative;
}

.song-title{
  width: 100%;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.song-slider{
  width: 100%;
}

.current-time{
	font-size: 10px;
}

.duration {
  float: right;
	font-size: 10px;
}

.controllers{
  width: 1000px;
  margin: auto;
  padding-top: 25px;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 90px;
	margin-left:5px;
}

.music {
  padding-bottom: 240px;
}

.grid-container-main {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-template-rows: 150px;
  grid-gap: 19.75px;
  padding: 1px;
}

.grid-container-main > div {
  padding: 10px 0;
  font-size: 14px;
}

.grid-container-main div {
  margin: auto 0;
}

.grid-container-main .album img {
  width: 150px;
  height: 150px;
}

.grid-container-main .album img:last-of-type {
  right: 0;
}

.register-button {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: auto;
  margin-left: 5px;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: #222;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.register-button:focus { outline: none; }

.login-button:focus { outline: none; }

.login-button {
  position: relative;
  left: auto;
  top: 6%;
  right: 2%;
  bottom: auto;
  padding: 12px 35px;
  border-radius: 20px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  white-space: normal;
  border: none;
  font-size: 13px;
}

.signup-error {
  color:red;
  position: relative;
  top: -10px;
  left: -10px;
}

.signup-success {
  color: green;
}

input:required:focus {
  border: 1px solid black;
  outline: none;
}
